.info-wrap {
  .info-name {
    font-size: 24px;
    font-weight: 800;
  }

  .info-description{
    font-size: 16px;
    color: #4B5563;
  }

  .info-price{
    font-size: 20px;
    font-weight: 800;
  }
}