.category-wrap {
    overflow: hidden;
    .category-list {
        li {
            margin-right: 10px;
            padding: 10px 20px;
            border: 1px solid #e5e7eb;
            border-radius: 47%;
            text-align: center;
            color: #4b5563;
            font-size: 16px;
            font-weight: 700;

            &.selected {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }
}
