.menuitem-wrap {
    background-color: #ffffff;
    height: 128px;
    .menu-img {
        // width: 140px;
        height: 100%;

        img {
            min-width: 128px;
            height: 128px;
        }
    }

    .menu-info {
        height: 135px;
        font-weight: 800;

        h5{
            
            font-size: 16px;
        }

        .menu-detail{
            font-size: 14px;
            color: #6B7280;
        }

        .menu-price{
            font-size: 17px;
        }
    }
}
