.menuitem-wrap {
    background-color: red;
    height: 145px;
    border-radius: 10px;
    .menu-img {
        width: 140px;
        height: 100%;

        img {
            width: 128px;
            height: 128px;
        }
    }

    .menu-info {
        height: 135px;
    }
}
