.list {
    &__header {
        background-color: #f9fafb;
        font-weight: 500;
        
    }
    &__font-header {
        font-weight: 500;
        font-size: 12px;
        color: #6B7280;
    }

    &__item {
        padding: 14px 0px 14px 0px;
    }
}
