.user-main {
    background-color: #f9fafb;

    .user-wrap {
        min-width: 320px;
        max-width: 600px;
        margin: 0 auto;
        // background-color: #fff;
        border: 1px solid #000;
        position: relative;
        min-height: 100vh;

        .content-wrapper {
            max-width: 550px;
            margin: 30px auto;
        }
        
    }
}
